{% extends 'base.html' %}

{% block title %}
    Create a New Blog Post
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Create a New Blog Post</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                {{ form.as_p }}  <!-- This will render the form with the defined widgets -->

                <button type="submit" class="btn btn-primary">Create Post</button>
                <a href="{% url 'blogs:post_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            // Initialize Select2 on the tags field
            $('#id_tags').select2({
                placeholder: "Select tags",
                allowClear: true,
            });
        });
    </script>
{% endblock %}
