{% extends 'base.html' %}

{% block title %}
    Update Comment - {{ object.post.title }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Update Your Comment</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="mb-3">
                    {{ form.content.label_tag }}
                    {{ form.content }}
                    {% if form.content.errors %}
                        <div class="text-danger">{{ form.content.errors }}</div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Update Comment</button>
                <a href="{% url 'blogs:post_detail' slug=object.post.slug %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
